<section class="container">
    <div class="cabecalho">

        <nav class="navUser">
            <p>Marcio Jose</p>
            <a class="btnSair" href="#">sair</a>
        </nav>
        <nav class="menuNavegacao">
            <a href="receita" class="nav ">
                <i class='bxiconsCabecalho bx bxs-dollar-circle' style='color:#7dff00'></i>
                <div>
                    <p>Receita</p>
                    <span class="spanReceita">R$ 574.85</span>
                </div>
            </a>
            <a href="/" class="nav active">
                <i class='bxiconsCabecalho bx bxs-down-arrow-circle' style='color:#ff0000'></i>
                <div>
                    <p>Despesas</p>
                    <span class="spanDespesa">R$-200.00</span>
                </div>
            </a>

        </nav>
    </div>

    <main>
        <form class="form" action="/adicionaReceita" method="post">
            <div class="divQuantia">
                <label for="quantia">R$ </label>
                <input type="number" name="quantia" id="quantia" placeholder="00.00">
            </div>
            <p class="categoria">Categorias</p>
            <div class="categoriasDiv">
                <div class="categoria">
                    <input type="radio" id="saude" name="categoria" value="saude">
                    <label class="label" for="saude"><i class='icons bx bxs-capsule'
                            style='color:#ff0000'></i>Salário</label>
                </div>
                <div class="categoria">
                    <input type="radio" id="lazer" name="categoria" value="lazer">
                    <label class="label" for="lazer"><i class='icons bx bx-joystick'
                            style='color:#27ff00'></i>Presente</label>
                </div>
                
                <div class="categoria">
                    <input type="radio" id="outros" name="categoria" value="outros">
                    <label class="label" for="outros"><i class='icons bx bx-plus-medical' undefined></i>Outros</label>
                </div>
            </div>
            <div class="descricaoDiv">
                <label for="descricao">Descrição</label>
                <input class="descricaoInput" type="text" name="descricao" id="descricao">
            </div>
            <div class="centerBtn btnAdicionarDespesa">
                <button class="btnAdicionar" type="submit">Adicionar</button>

            </div>
        </form>
    </main>






</section>