<section class="container"></section>
    <div class="cabecalho">

        <nav class="navUser">
            <p>Marcio Jose</p>
            <a class="btnSair" href="#">sair</a>
        </nav>
        <nav class="menuNavegacao">
            <a href="/" class="nav">
                <i class='bxiconsCabecalho bx bxs-dollar-circle' style='color:#7dff00'></i>
                <div>
                    <p>Receita</p>
                    <span class="spanReceita">R$ 574.85</span>
                </div>
            </a>
            <a href="receita" class="nav active">
                <i class='bxiconsCabecalho bx bxs-down-arrow-circle' style='color:#ff0000'></i>
                <div>
                    <p>Despesas</p>
                    <span class="spanDespesa">R$-200.00</span>
                </div>
            </a>

        </nav>
    </div>

    <main>
        
    </main>






</section>
