<section class="createAccount">
    <nav>
        <a href="/"><i class='bx bx-left-arrow-alt' style='color:#f3eaea'></i></a>
        <h2>Criando Conta</h2>
    </nav>
    <form action="/creatingAccount" method="post">
        <label for="username">UserName</label>
        <input type="text" name="username" id="username" placeholder=" ex : marciomartins_12">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="ex : marcio@gmail.com">

        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">
        <dir class="btnCriarConta">
            <button type="submit">Criar conta</button>
        </dir>
    </form>
</section>