<section class="createAccount">
    <nav>
        <a href="/"><i class='bx bx-left-arrow-alt' style='color:#f3eaea'></i></a>
        <h2>Criando Conta</h2>
    </nav>
    <form action="/creatingAccount" method="post">
    
        <input type="text" name="username" id="username" placeholder="Nome de usuário">

       
        <input type="email" name="email" id="email" placeholder="Email">

      
        <input type="password" name="senha" id="senha" placeholder="Senha">
        <div class="btnCriarConta">
            <button type="submit">Criar conta</button>
        </div>
    </form>
</section>