<section class="container">
    <form class="formLogin" action="logar" method="post">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha">
        </div>

        <div class="centerBtn">
        <button type="submit">Entrar</button>
        </div>
    </form>
</section>
