<section>

    <div>
        <h1>Instagram</h1>
        <form action="/logar" method="post">
            <input type="email" name="email" id="email" placeholder="Telefone, nome de usuário ou email">
            <input type="password" name="senha" id="senha" placeholder="Senha">
            <div>
                <a href="/esqueceuASenha">esqueceu a senha?</a>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <div>
            <p>náo tem uma conta? <a href="cadastrar">Cadastre-se</a></p>
        </div>
        <p>Ao continuar, você concorda com os termos de uso e a política de privacidade do instagram.</p>
        <div>from meta</div>
    </div>



</section>