<section class="container">
<nav class="navbarLogin">
    <p>Login</p>
    <p>Cadastrar </p>
</nav>


    <form class="formLogin" action="logar" method="post">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha">
        </div>

        <div class="centerBtn">
            <button type="submit">Entrar</button>
        </div>
    </form>


    <form class="formLogin formCadastrar" action="cadastrar" method="post">
    <div>
        <label for="nomec">Nome</label>
        <input type="text" name="nomec" id="nomec">
    </div>
    <div>
        <label for="emailc">Email</label>
        <input type="emailc" name="emailc" id="emailc">
    </div>
    <div>
        <label for="senhac">Senha</label>
        <input type="password" name="senhac" id="senhac">
    </div>

    <div class="centerBtn">
        <button type="submit">Entrar</button>
    </div>
    </form>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navItems = document.querySelectorAll("nav p");
    const forms = document.querySelectorAll(".formLogin");

   
    function showForm(index) {
      navItems.forEach((item, i) => {
        item.classList.toggle("selected", i === index); 
        forms[i].classList.toggle("formVisible", i === index); 
      });
    }

   
    navItems.forEach((item, index) => {
      item.addEventListener("click", () => showForm(index));
    });

    showForm(0);
  });
</script>
