<section class="sectionNewPost">
    <nav>
        <p id="btnVoltar">
            <svg aria-label="Voltar" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <title>Voltar</title>
                <path
                    d="M21 17.502a.997.997 0 0 1-.707-.293L12 8.913l-8.293 8.296a1 1 0 1 1-1.414-1.414l9-9.004a1.03 1.03 0 0 1 1.414 0l9 9.004A1 1 0 0 1 21 17.502Z">
                </path>
            </svg>
        </p>
        <h2>Publicação</h2>
    </nav>

    <form class="formNewPost" action="enviandoNewPost" method="post" enctype="multipart/form-data">
        <div>
            <img id="previewImagem" src="" alt="Pré-visualização da imagem" style="max-width: 100%; display: none;">
        </div>
        <div>
            <input class="inputImagem" type="file" name="imagem" id="imagem" style="display: none;">
            <div class="escolhaUmaImagemLabel">
                <label for="imagem" class="custom-file-label">Escolha uma imagem</label>
            </div>
            <input class="inputLegenda" type="text" placeholder="Escreva uma legenda..." name="legenda">
        </div>




        <div class="btnCompartilhar">
            <button>Compartilhar</button>
        </div>
    </form>
</section>

<script>
  const btn = document.querySelector("#btnVoltar");
    btn.addEventListener("click", () => {
        window.history.back()
    })

    const inputImagem = document.getElementById('imagem');
    const previewImagem = document.getElementById('previewImagem');

    inputImagem.addEventListener('change', function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (event) {
                previewImagem.src = event.target.result;
                previewImagem.style.display = 'block';
            }


            reader.readAsDataURL(file);
        } else {

            previewImagem.style.display = 'none';
        }
    });
</script>