<section class="sectionNewPost">
    <nav>
        <i class='bx bx-left-arrow-alt' style='color:#f3eaea'></i>
        <h2>Nova publicação</h2>
    </nav>

    <form action="enviandoNewPost" method="post" enctype="multipart/form-data">
       
        <input class="inputImagem" type="file" name="imagem" id="imagem">

        <input class="inputLegenda" type="text" placeholder="Escreva uma legenda..." name="legenda">

        <div  class="btnCompartilhar">
            <button>Compartilhar</button>

        </div>
    </form>

</section>
<script>
    document.querySelector("body").style.backgroundColor = "#000000"
</script>