
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 480px;
    min-width: 400px;
}

.home {
    position: relative;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.imagemInstagram {
    display: flex;
    justify-content: center;

}

.comentariosA{
    font-size: .7em;
}
.formulario {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.inpt {
    width: 300px;
    padding: .65em 0;
    border: 1px solid #d2d2d2;
    border-radius: .5em;
    margin-bottom: 1em;
}

.formulario button {
    background-color: rgb(0, 149, 246);
    border: none;
    border-radius: .45em;
    padding: .75em 0;
    width: 100px;
    color: white;
}

.divOU {
    margin-top: 1em;
    font-size: .88em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: #777070;
}

.divOU div {
    border: 1px solid #e6dede;
    width: 30%;
}

.divFuncoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faceboock {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: .45em;
    font-size: .94em;
    color: #385185;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Assistant', sans-serif;
}

.esqueceuASenha {
    margin-top: 1.50em;
    margin-bottom: 5em;
    text-decoration: none;
    color: black;
    font-size: .75em;
}

.paragrafo {
    font-size: 0.90em;
    font-weight: 400;
    color: red;
}

.divAplicativos {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    gap: 1em;
    margin-top: .8em;
}

.divItemAplicativos {
    display: flex;
    gap: .45em;
    align-items: center;
    color: white;
    background-color: black;
    padding: 0.4em;
    border-radius: .45em;
}

.home {
    color: white;
}

.semConta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.semConta a {
    text-decoration: none;
    font-size: .8em;
}

.divLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .25em .5em;
    margin-bottom: 1.5em;
}

.divLinks a {
    font-size: .80em;
    text-decoration: none;
    color: #737373;
}

.footer {
    text-align: center;
}

.menuNavegacaoHomePage {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5em 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(66, 64, 64);
    color: white;
}

.menuNavegacaoHomePage div {
    display: flex;
    align-items: center;
    gap: .1em;
}

.menuNavegacaoHomePage div i {
    font-size: 2em;
}


.menuNavegacaoHomePage svg {
    margin-left: 1em;
}

.menuNavegacaoHomePage .divContainerCabecalho {
    margin-right: 1em;

}

.divContainerCabecalho a {
    color: white;
    text-decoration: none;
}

.publics {
    margin-top: 3em;
    margin-bottom: 3em;
}

.publics ul {
    margin-bottom: 5em;
}

.publics ul li {
    margin-bottom: 1em;
}

.publics ul li .cabecalhopost {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.publics ul li .cabecalhopost {
    margin: 0 .5em;
}

.publics ul li div div img {
    width: 40px;

    border-radius: 50%;
    height: auto;

}

.publics ul li div div h2 {
    font-weight: 600;
}

.publics ul li div div {
    display: flex;
    gap: .5em;
    align-items: center;
}

.imagemPostada {
    margin-top: 1em;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

#previewImagem {
    margin-top: 1em;
    min-width: 100%;
    height: 400px;
    object-fit: cover;
}

.menuLikeComments {
    display: flex;
    justify-content: start;
    gap: 1em;
    margin-left: 1em;
}

.curtidas {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-top: .5em;
    gap: .5em;
}

.curtidas p {
    font-weight: 600;
}

.curtidas a {
    text-decoration: none;
    color: #b0b3b8;
}

.curtidas div {
    display: flex;
    align-items: center;
}

.curtidas div h3 {
    font-size: .8em;
    font-weight: 600;
}

.curtidas div span {
    font-size: .8em;
}

.footerNavHome {
    border-top: 1px solid rgb(66, 64, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: .5em 0;
    background-color: black;
}

.footerNavHome a {
    text-decoration: none;
    color: white;
}

.footerNavHome .imagem {
    width: 30px;
    border-radius: 50%;
}

.sectionNewPost {
    color: white;

}

.sectionNewPost nav {
    display: flex;
    align-items: center;
    margin-left: 1em;
    gap: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 600;
}

.inputLegenda {
    width: 80%;
    border-radius: 1em;
    padding: 1em;
    background-color: black;
    color: white;
    box-shadow: rgba(36, 36, 36, 0.56) 0px 22px 70px 4px;
    border: none;
    margin: 0 0 0 2em;
    margin-top: 1em;
    outline: none;
}


.inputLegenda::placeholder {
    color: #737373;
}

.inputImagem[type="file"] {
    margin-left: 1em;
}



.btnCompartilhar {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.btnCompartilhar button {

    padding: 1em;
    font-size: 1em;
    border-radius: .56em;
    border: none;
    background-color: #007bff;
    color: white;
}

.formNewPost {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}

.perfil {
    position: relative;
    color: white;
}

.sectionPerfil .cabecalhoPerfil {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5em 0;
    border-bottom: 1px solid rgb(103, 103, 103);
}

.custom-file-label {
    padding: 10px 20px;
    background-color: #c9c9c9;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.escolhaUmaImagemLabel {
    display: flex;
    justify-content: center;
}

.custom-file-label:hover {
    background-color: #272727;
}


.formNewPost div {
    margin-bottom: 15px;
}

.createAccount {
    color: white;
}

.createAccount form {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.createAccount form input {
    color: white;
    width: 80%;
    padding: 1em;
    margin: 0 auto;
    border: none;
    background-color: #6e6e6e;
    border-radius: .5em;
    margin-bottom: 1em;
}


.createAccount nav{
    display: flex;
    gap: 1em;
    margin-top: 1em;
    margin-left: 1em
}

.createAccount input::placeholder {
    color: black;
}
.btnCriarConta{
    display: flex;
    justify-content: center;
}
.btnCriarConta button{
    border: none;
    border-radius: 1em;
    background-color: #007bff;
    color: white;
    padding: 1em;
    font-weight: 600;
}
.mesangemF{
    color: red;
    margin-left: 1em;
}
.perfil img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.perfilInfos{
    display: flex;
    margin-top: 3em;
    gap: 2em;
    margin-left: 1em;
}
.perfilInfos div span{
    display: flex;
    gap: .4em    ;
    flex-direction: column;
}
.perfilInfos div span h2 {
   color: #F5f5f5;
}
.perfilInfos div span a {
   color: white;
   font-size: .8em;
   text-decoration: none;
   padding: .5em;
   text-align: center;
   border-radius: .5em;
   background-color: #363636;
}
.rodapeCabecalho{
  margin-top: 1em;
   border-top: 1px;
   border-bottom: 1px;
   padding: 1em;
   border-style: solid;
   border-color: rgb(53, 53, 53);
    display: flex;
    justify-content: space-around;

}
.rodapeCabecalho div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bio {
    margin-top: 1em;
    margin-left: 1em;
}
.bio h3{
    font-size: .9em;
}
.bio p {
    font-size: .8em;
}