@font-face {
    font-family: jeju;
    src: url("/css/jeju.ttf");
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(122, 122, 122);
}

:root {
    --primaria: #000000;
    --containers: #1C2528;
    --text: #707070;
}

.container {
    min-height: 100vh;
    width: 100%;
    max-width: 400px;
    background-color: var(--primaria);
    font-family: jeju;

}

.navUser {
    display: flex;
    justify-content: space-between;
    margin: 0 1em;
    padding: 1em;
}

.navUser p {

    color: var(--text);
}

.cabecalho {
    background-color: var(--containers);
    border-radius: 0 0 3em 3em;
}

.btnSair {
    text-decoration: none;
    color: var(--text);
}

.menuNavegacao {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
}

.nav {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: 2em;
    padding: 1em 2em;
    border-radius: 1em;
    background-color: #302E2E;
}

.nav p {
    font-size: .8em;
    color: white;
}

.nav .spanReceita {
    font-size: .6em;
    color: #7dff00;
}

.nav .spanDespesa {
    color: #ff0000;
    font-size: .6em;
}

.bxiconsCabecalho {
    font-size: 1.7em;
}



.chart {
    background-color: var(--containers);
    width: 95%;
    margin: 1em auto;
    border-radius: 2em;

}

.chart .chartDiv {
    display: flex;
    justify-content: center;
}

.btnAdd {
    display: flex;
    justify-content: end;
}

.btnAdd a {
    text-decoration: none;
    font-size: 3em;
    margin-right: .3em;
}

.chart .canvas {
    width: 290px;
    height: 290px;
}

.ul li a {
    text-decoration: none;
    width: 95%;
    padding: 1em;
    border-radius: 1em;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ul li{
    margin-bottom: .5em;
}
.menos {
    color: #ff0000;
}

.mais {
    color: #7dff00;
}

.divQuantia {
    width: 95%;
    margin: 1em auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divQuantia label {
    font-size: 1.4em;
}

.divQuantia input {
    background-color: var(--text);
    border: none;
    width: 100px;
    border-radius: 1em;
    padding-left: 1em;
    color: white;
    font-size: 1.4em;
}

.divQuantia input::placeholder {
    color: rgb(156, 150, 150);
}

.categoria {
    display: inline-block;
    margin: 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {

    background-color: var(--containers);
}

.active {
    background-color: #021d25;
}

.label {
    border-radius: 1em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    gap: .4em;
    color: rgb(141, 138, 138);
    align-items: center;
}

.categoriasDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
    justify-content: space-around;
}

.label i {
    background-color: var(--containers);
    padding: .33em;
    border-radius: 50%;
}

.icons {
    font-size: 2em;
}

.listar {
    padding: 1em;
    background-color: #ffe000;
    color: black;
    font-weight: 700;
    text-decoration: none;
    border-radius: 1em;
}

.centerBtn {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.categoria {
    color: white;
}

.descricaoInput {
    margin-top: .5em;
    background-color: var(--containers);
    width: 100%;
    color: white;
    border: none;
    padding: .44em;
    border-radius: 1em;
    font-size: 1.4em;
}

.descricaoDiv {
    margin-top: 1em;
    color: white;
    display: flex;
    flex-direction: column;

}

.btnAdicionarDespesa {
    margin-top: 1em;
}

.centerBtn button {
    border: none;
    color: black;
    border-radius: 1em;
    background-color: #ffe000;
    font-weight: 700;
    padding: 1em;
}

.formLogin {
    border-radius: 1em;
    justify-content: center;
    flex-direction: column;
    display: flex;
    color: white;
    padding: 1em;
    width: 95%;
    margin: 0 auto;
    background-color: var(--containers);

}

.formLogin div {
    display: flex;
    flex-direction: column;
}

.formLogin div input {
    border-radius: 1em;
    color: white;
    background-color: var(--primaria);
    border: none;
    padding: 1em;
    width: 95%;
    margin-top: 1em;
    margin-bottom: .5em;
    margin-left: 2.5%;
}

.form {
    width: 95%;
    margin: 0 auto;
}

.formLogin {
    display: none;
}

.formVisible {
    display: block;
}

.navbarLogin {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 4em;
}
.navbarLogin p{
    padding: .8em 2em;
    border-radius: 1em 1em 0 0;
}
.selected {
    background-color: var(--containers);
   
}
.valueTotal{
    display: flex;
    justify-content: center;
   
}
.valueTotal div{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: #292929;
    border-radius: 1em;
    
}
.valueTotal div p {
 
    color: #0a1124;
    font-size: 1.4em;
    
}
